@font-face {
	font-family: delight;
	src:url(Delight.ttf) format('truetype');
}

.delight {
	font-family: delight;
	font-size: 40px;
	color:#348721;
}
table {
	border-collapse: collapse;
	margin: 0 auto;
}
td, th { 
	border: 2px solid black;
}
th {
	font-size: 50px;
}