h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

body{
	background-color: lightblue;
	font-family: arial;
}

img {
	width:300px;
	height:200px;
}

#ola {
	font-family: calibri;
	color: purple;
}
#jojo {
	position: absolute;
	bottom: 20px;
}
